<div class="header">
  <a href="/board/main" class="header__main-link"> <p class="header__title">BASIC NOTE</p></a>

  <% if(userDisplayname) { %>
  <h1>welcome <%=userDisplayname%></h1>
  <%}%>
</div>
