<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>노트생성페이지</title>
  </head>
  <body>
    <% include ./header.ejs %> 
    <form action="/board/<%=nowNoteBookId%>/<%=nowNoteId%>/notemodify-process" method="post">
      <p><input type="text" name="title" value="<%=noteData[0].title%>" /></p>
      <p><textarea name="content" cols="100" rows="50"><%=noteData[0].content%></textarea></p>
      <p><button type="submit">노트수정</button></p>
    </form>
    <p>노트수정페이지</p>
  </body>
</html>