<div class="notebookList" id="js-notebook-list">
    <div id="js-notebook-list">
      <button id="js-notebook__new">NEW Book</button>
      <button id="js-notebook__notebook-edit">Edit</button>
    </div>
    <%if(notebookList) {%> <% for( var i = 0 ; i < notebookList.length ;
    i++){ %>
    <div id="js-notebookList__notebook js-notebook"></div>
    <a href="/board/<%=notebookList[i].id%>"><%=notebookList[i].title%></a>
    <% }%> <% }%>
  </div>


  <!-- 아이디 클래스명 명명 다시하기. -->