<div class="notebooks" id="js-notebooks">
  <div id="js-notebooks__control-buttons">
    <!--  js-control-buttons -->
    <button id="js-control-buttons__new">NEW Book</button>
    <button id="js-control-buttons__edit">Edit</button>
  </div>
  <div id="js-notebooks__notebook js-notebook" class="notebooks__notebook notebook">
    <%if(notebookList) {%> <% for( var i = 0 ; i < notebookList.length ; i++){%>
    <div class="notebook-column">
    <a href="/board/<%=notebookList[i].id%>" class=""><%=notebookList[i].title%></a>
    </div>
    <% }%> <% }%>
  </div>
</div>

<!-- 아이디 클래스명 명명 다시하기. -->
