<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Register</title>
  </head>
  <body>
    <div class="user-register" id="js-user-register">
      
      <form method="post" id="js-user-register__form">
        
        <input type="text" name="id" placeholder="ID" class="js-user-register__idForm-id"/>
        
        <input type="button" value="중복확인"  class="id-ajaxsend" >
        <div class="check-message"></div>
        
        
        <p><input type="password" name="pwd" placeholder="PASSWORD"  class="js-user-register__idForm-pwd"/></p>
        <p><input type="password" name="confirmPwd" placeholder="CONFIRM PASSWORD" class="js-user-register__idForm-pwd-confirm"/></p>
        <div class="pwdconfirm-message"></div>
        <input type="text" name="displayName" placeholder="DISPLAYNAME" class="js-user-register__idForm-displayname"/>
        <input type="button" value="중복확인"  class="displayname-ajaxsend" >
        <div class="check-displayname-message"></div>

        <p><input type="text" name="name" placeholder="NAME" /></p>
        <p><button type="submit" formaction="/auth/register_process">회원가입</button></p>
      </form>
    </div>

    <script src="/javascripts/register.js"></script>
  </body>
</html>
