<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Register</title>
  </head>
  <body>
    <form action="/auth/register_process" method="post">
      <p><input type="text" name="id" placeholder="ID" /></p>
      <p><input type="password" name="pwd" placeholder="PASSWORD" /></p>
      <p><input type="password" name="confirmPwd" placeholder="CONFIRM PASSWORD" /></p>
      <p><input type="text" name="displayName" placeholder="DISPLAYNAME" /></p>
      <p><input type="text" name="name" placeholder="NAME" /></p>
      <p><button type="submit">회원가입</button></p>
    </form>
  </body>
</html>
