.notebookList {
    display: inline-flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-right: 30px;
}

.noteList{
    display: inline-flex;
    align-items: flex-start;
    flex-direction: column;
    margin-right: 50px;
}

.listView{
    display: flex;
}