.notebooks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin-right: 30px;
}

.notebook .notebook-column{
    display: block;
}

.noteList{
    display: inline-flex;
    align-items: flex-start;
    flex-direction: column;
    margin-right: 50px;
}




.listView{
    display: flex;
}